div.table-container {
    flex: 1;
    align-content: center;
    align-items: center;
    margin: 10px;
  }
  
  ul {
    display: grid;
    gap: 20px;
    list-style: none;
    margin: 60px;
  }
  
  li.table-row {
      display: flex;
      flex-direction: row;
      background: #FFF;
      box-shadow: 0 0 14px 0 rgba(0, 0, 0, 0.02);
      border-radius: 5px;
      padding: 10px;
      justify-content: space-between;
  }
  
  li div.table-column {
    padding: 5px;
    margin: 20px;
    text-align: left;
  }
  
  li p {
    color: #888888;
    margin-top: 5px;
  }