.form-container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-container form {
    width: 100%;
    max-width: 400px;
    display: flex;
    padding: 30px 0;
    flex-direction: column;
    background-color: #ffffff;
    justify-content: center;
    align-items: center;
    border: 1px solid #ddd;
    border-radius: 4px;
}

form .input-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-top: 15px;
}

.form-container form input {
    margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
    height: 30px;
    padding: 0 10px;
    font-size: 14px;
    background-color: #E5E6F0;
    color: #9ea49e;
}

form button {
    margin-top: 30px;
    padding: 0 20px;
    border: 0;
    border-radius: 4px;
    height: 42px;
    font-size: 18px;
    background: #87239b;
    font-weight: bold;
    color: #FFF;
    cursor: pointer;
}

form h1 {
    margin-bottom: 10px;
}